:root {
  --max-width: 1920px;
  --border-radius: 12px;
  --green-dark:#569572;
  --white-text: #FFFFFF;
  --black-text: black;
  --green-text:#26C483;


  // MAIN
  --main-bg-white: #FFFFFF;
  --main-bg-gray: #F6F6F6;
  --main-bg-green: #4EDD9F;
  --main-bg-dark-green: #569572;
  --main-bg-light-green: #EFFFF8;
  --main-bg-icon: #A6FFD7/32%;
  --main-bg-orange: #FFDBA6;
  --main-bg-blue: #A6D4FF;
  --main-bg-red: #FFABA6;
  --main-bg-disabled: #DEDEDE;
  --main-stroke-hover: #29AA63;
  --main-stroke-green: #26C483;
  --main-stroke-green: #26C483;
  --main-stroke-light-green: #4EDD9F;
  --main-stroke-gray-green: #DEDEDE;
  // TEXT
  --text-black: #554D4D;
  --text-white: #212121;
  --text-dark-gray: #9C9C9C;
  --text-light-gray: #727171;

  // BUTTON
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
