// MAIN
$main-green: #26C483;
// BG
$bg-white: #FFFFFF;
$bg-gray: #F6F6F6;
$bg-green: #4EDD9F;
$bg-dark-green: #569572;
$bg-light-green: #EFFFF8;
$bg-icon: #A6FFD7/32%;
$bg-orange: #FFDBA6;
$bg-blue: #A6D4FF;
$bg-red: #FFABA6;
$bg-disabled: #DEDEDE;
// STROKE
$stroke-hover: #29AA63;
$stroke-green: #26C483;
$stroke-green: #26C483;
$stroke-light-green: #4EDD9F;
$stroke-gray-green: #DEDEDE;
// TEXT
$text-black: #554D4D;
$text-white: #212121;
$text-dark-gray:#727171;
$text-gray: #9C9C9C;
$text-light-gray: #C5C5C5;
$text-hover: #29AA63;
$text-green: #26C483;
$text-orange: #605DEC;// ???
$text-blue: #4093E0;
$text-error: #E04545;
// BUTTON
